{{> header title="Parallax" }}

    <!-- parallax -->

    <div class="parallax">
        <div class="parallax__group">
            <!-- parallax back -->

            <div class="parallax__layer parallax__layer--back"></div><!-- /parallax back -->
            <!-- parallax base -->

            <div class="parallax__layer parallax__layer--base"></div><!-- /parallax base -->
            <!-- jumbotron -->

            <div class="jumbotron">
                <!-- container -->

                <div class=" container">
                    <!-- row -->

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="page-header">Parallax / Pretty Page</h1>

                            <p class="lead">This demo owes kudos to Keith Clark <a href="http://keithclark.co.uk/articles/pure-css-parallax-websites/" target="_blank">http://keithclark.co.uk/articles/pure-css-parallax-websites/</a></p>

                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p><br class="clear">
                        </div><!-- /column -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /jumbotron -->
        </div><!-- /parallax__group -->
        <!-- jumbotron -->

        <div class="jumbotron">
            <!-- container -->

            <div class=" container">
                <!-- row -->

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Cum sociis <small>natoque penatibus</small></h1>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p><br class="clear">
                    </div><!-- /column -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /jumbotron -->
    </div><!-- /parallax -->

{{> footer }}