{{> header title="Landing Page" }}

    <!-- container -->

    <div class="container" role="main">
        <!-- jumbotron -->

        <div class="jumbotron">
            <!-- row -->

            <div class="row">
                <h1 class="page-header">Sample Optimized Landing Page</h1>

                <div class="col-md-6">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p><button class="btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Get It Get It </button><br class="clear">
                </div><!-- /column -->

                <div class="col-md-6">
                    <!-- column -->

                    <figure>
                        <img src="images/donut.png" alt="Get it get it" class="center-block">
                    </figure>
                </div><!-- /column -->
            </div><!-- /row -->

            <div tabindex="-1" role="dialog" class="modal fade" aria-labelledby="modalLabel" aria-hidden="true" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>

                            <h2 class="modal-title" id="modalLabel">Form</h2>
                        </div><!-- modal -->

                        <div class="modal-body">
                            <form class="form" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="control-label">Email</label> <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Email me</label>
                                    </div>
                                </div><button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /jumbotron -->
    </div><!-- /container -->

 {{> footer }}