{{> header title="Shop Products!" }}
<div class="container">
	<div class="row product">
		<div class="col-lg-4 col-md-6 col-xs-12">
		<div itemscope itemtype="http://schema.org/Product" class="card product-item">
			<figure>
							<img itemprop="image" src="http://www.bootstrap-starter.com/images/acme-catalog.jpg" alt="Card image cap">
			</figure>
			<div class="card-block">
		  <h4 class="card-title"><span itemprop="brand">ACME</span> <span itemprop="name">Executive Anvil</span></h4>

		  <p class="card-text" itemprop="description">Sleeker than ACME's Classic Anvil, the
		    Executive Anvil is perfect for the business traveler
		    looking for something to drop from a height.
		    
		    <br>
		    Product #: <span itemprop="mpn">925872</span>
		  </p>
		  <p>
			  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			    <span class="price reg-price">Regular price: $179.99</span>
			    <meta itemprop="priceCurrency" content="USD" />
	  		  </span>
		  </p>
		      <a href="#" class="btn btn-primary">Buy Now</a>
		  </div>
		</div>
		</div>
		
		<div class="col-lg-4 col-md-6 col-xs-12">
		<div itemscope itemtype="http://schema.org/Product" class="card product-item">
			<figure>
				<img itemprop="image" class="card-img-top" src="http://www.bootstrap-starter.com/images/acme-catalog.jpg" alt="Card image cap">
			</figure>			
			<div class="card-block">
		  <h4 class="card-title"><span itemprop="brand">ACME</span> <span itemprop="name">Executive Anvil</span></h4>

		  <p class="card-text" itemprop="description">Sleeker than ACME's Classic Anvil, the
		    Executive Anvil is perfect for the business traveler
		    looking for something to drop from a height.
		    
		    <br>
		    Product #: <span itemprop="mpn">925872</span>
		  </p>
		  <p>
			  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			    <span class="price reg-price">Regular price: $179.99</span>
			    <meta itemprop="priceCurrency" content="USD" />
	  		  </span>
		  </p>
		      <a href="#" class="btn btn-primary">Buy Now</a>
		  </div>
		</div>
		</div>
		
		<div class="col-lg-4 col-md-6 col-xs-12">
		<div itemscope itemtype="http://schema.org/Product" class="card product-item">
			<figure>
				<img itemprop="image" class="card-img-top" src="http://www.bootstrap-starter.com/images/acme-catalog.jpg" alt="Card image cap">
			</figure>			<div class="card-block">
		  <h4 class="card-title"><span itemprop="brand">ACME</span> <span itemprop="name">Executive Anvil</span></h4>

		  <p class="card-text" itemprop="description">Sleeker than ACME's Classic Anvil, the
		    Executive Anvil is perfect for the business traveler
		    looking for something to drop from a height.
		    
		    <br>
		    Product #: <span itemprop="mpn">925872</span>
		  </p>
		  <p>
			  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			    <span class="price reg-price">Regular price: $179.99</span>
			    <meta itemprop="priceCurrency" content="USD" />
	  		  </span>
		  </p>
		      <a href="#" class="btn btn-primary">Buy Now</a>
		  </div>
		</div>
		</div>
		
		<div class="col-lg-4 col-md-6 col-xs-12">
		<div itemscope itemtype="http://schema.org/Product" class="card product-item">
			<figure>
				<img itemprop="image" class="card-img-top" src="http://www.bootstrap-starter.com/images/acme-catalog.jpg" alt="Card image cap">
			</figure>			<div class="card-block">
		  <h4 class="card-title"><span itemprop="brand">ACME</span> <span itemprop="name">Executive Anvil</span></h4>

		  <p class="card-text" itemprop="description">Sleeker than ACME's Classic Anvil, the
		    Executive Anvil is perfect for the business traveler
		    looking for something to drop from a height.
		    
		    <br>
		    Product #: <span itemprop="mpn">925872</span>
		  </p>
		  <p>
			  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="sale">
			    <span class="price reg-price">Regular Price: $179.99</span><br>
			    <meta itemprop="priceCurrency" content="USD" />
			    <span class="price sale-price">Sale Price: $<span itemprop="price">119.99</span></span>
	  		  </span>
		  </p>
		      <a href="#" class="btn btn-primary">Buy Now</a>
		  </div>
		</div>
		</div>
	</div>
</div>

{{> footer }}