<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title><!-- CSS -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 8]>
                 <div role="alert" class="alert alert-warning text-center"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
</div>
<![endif]-->

    <header class="navbar navbar-static-top navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span></button> <a class="logo" href="/" title="Sorry Miss Jackson, I am for Real">Sorry Miss Jackson, I am for Real</a>
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Examples</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/example-2-columns.html">2 Column</a>
                            </li>

                            <li>
                                <a href="/example-landing-page.html">Landing Page</a>
                            </li>

                            <li>
                                <a href="/example-contact.html">Contact Page</a>
                            </li>

                            <li>
                                <a href="/example-prettty.html">Parallax / Prettty</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://github.com/pdemaria/bootstrap-starter" target="_blank">Support</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--[if lt IE 8]>
    <div role="alert" class="alert alert-warning text-center">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
    <![endif]-->
    <!-- container -->