<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title><!-- CSS -->
    <link href="css/style.min.css" rel="stylesheet"/>
    <style>
	    /************************************************************************
    Parallax
************************************************************************/   
    .jumbotron {
    margin:5em auto 25em;
    position: relative;
    z-index: 10;
    }

    .parallax {
    background: url(images/donut.png) center center no-repeat;
    perspective:1px;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    }

    .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    }

    .parallax__layer {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    }

    .parallax__layer--base {
    background: url(images/donut.png) center center no-repeat;
    transform:translateZ(0);
    }

    .parallax__layer--back {
    background: url(images/donut.png) center center no-repeat;
    transform:translateZ(-1px);
    }

	</style>
</head>

<body>

    <header class="main" role="banner">
        <div class="container">

          <nav role="navigation" class="navbar clearfix"> 
			<a class="navbar-brand logo" href="/" title="Sorry Miss Jackson, I am for Real">Sorry Miss Jackson, I am for Real</a>                 
              <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
			    &#9776;
			  </button>
			  <div class="collapse navbar-toggleable-xs " id="exCollapsingNavbar2">
                <ul class="nav navbar-nav nav-pills pull-sm-right">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Examples</a>

                        <div class="dropdown-menu container" role="menu">
                                <a href="/example-2-columns.html" class="dropdown-item">2 Column</a>
                                <a href="/example-landing-page.html" class="dropdown-item">Landing Page</a>
                                <a href="/example-prettty.html" class="dropdown-item">Parallax / Prettty</a>
                        </div>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/blog.html">Product
	                    </a>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/blog.html">Blog
	                    </a>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/contact.html">Contact
	                    </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="https://github.com/pdemaria/bootstrap-starter" target="_blank" class="nav-link">Support</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!-- container -->