<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title><!-- CSS -->
    <link href="css/style.min.css" rel="stylesheet"/>
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
 </head>

<body>

    <header class="main" role="banner">
	    <nav role="navigation" class="navbar clearfix"> 
	    	<div class="container">
						<div class="breaking-news">
                           <h3>Trending:</h3> <a title="" href="/post.html">Jade is your Cat of the Week...</a>
      					</div>
					
					<ul class="list-inline pull-sm-right social">
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://twitter.com/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        </li>
						<li class="list-inline-item">
                            <a href="http://www.youtube.com/" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                        </li>
                        
                        <li class="list-inline-item lnk-login">
	                        <a href="/login.html" class="lnk-login" rel="nofollow">Log in</a>
	                    </li>
                        <li class="list-inline-item lnk-register">
	                        <a class="simplemodal-register" href="/register.html">Register</a>
                        </li>
					</ul>
					
					<form role="search" class="form-inline pull-sm-right" target="_top" method="get" action="/search-results">
	                    <div class="input-group">
		                    <label for="q" class="sr-only">Enter your search terms</label> 
	                        <label for="sbb" class="sr-only">Submit search form</label> 
		                    <input type="text" class="form-control" placeholder="Search" maxlength="255" size="25" name="q">
		                    <span class="input-group-btn">
	                        <button name="sa" class="btn btn-secondary text-muted" id="sbb" value="" type="submit"><span class="fa fa-search"></span></button>
		                    </span>
	                    </div>	                        
                    </form>		
			</div>
	    </nav>	

          <nav role="navigation" class="navbar clearfix"> 
	                  <div class="container">

			<a class="navbar-brand logo" href="/" title="Sorry Miss Jackson, I am for Real">Sorry Miss Jackson, I am for Real</a>                 
              <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
			    &#9776;
			  </button>
			  <div class="collapse navbar-toggleable-xs " id="exCollapsingNavbar2">
                <ul class="nav navbar-nav nav-pills pull-sm-right">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Examples</a>

                        <div class="dropdown-menu container" role="menu">
                                <a href="/example-2-columns.html" class="dropdown-item">2 Column</a>
                                <a href="/example-landing-page.html" class="dropdown-item">Landing Page</a>
                                <a href="/example-prettty.html" class="dropdown-item">Parallax / Prettty</a>
                        </div>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/products.html">Our Product
	                    </a>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/blog.html">Blog
	                    </a>
                    </li>
                    
                    <li class="nav-item">
	                    <a class="nav-link" href="/contact.html">Contact
	                    </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="https://github.com/pdemaria/bootstrap-starter" target="_blank" class="nav-link">Support</a>
                    </li>
                </ul>
                        </div>
            </nav>
    </header>
    
    <!-- container -->
    <div id="content" role="main">
	<div class="container">  
		<div class="row">
			<div class="col-xs-12">  
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Current Page</li>
			</ol>
			</div>
		</div>
	</div>